<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianhuan.yxgsd.holagames"
    android:versionCode="391"
    android:versionName="3.9.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.GET_TASKS" /> 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="holasdk"
     
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.qianhuan.yxgsd.holagames.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.longyuan.sdkdemo.TestCoupon" >
        </activity>
        <!-- 将以下配置copy到AndroidManifest -->


        <!-- 请配置火拉平台分配的APPID -->
        <meta-data android:name="LONGYUAN_APPID" android:value="22c51853df2cd8fc" />

        <activity
            android:name="com.qianhuan.yxgsd.holagames.ac.ActivityWeb"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qianhuan.yxgsd.holagames.ac.SdkLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.qianhuan.yxgsd.holagames.ac.ExitSDKActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.qianhuan.yxgsd.holagames.ac.ActivityUser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.qianhuan.yxgsd.holagames.ac.ActivityBindPhone"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.qianhuan.yxgsd.holagames.ac.ActivityUpdateAccount"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>

        <!-- 支付相关 -->
        <activity
            android:name="com.qianhuan.yxgsd.holagames.pay.LyPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->
        
        <!-- weixinpay sdk begin -->
        <activity 
            android:name="com.qianhuan.yxgsd.holagames.pay.weixinpay.WXPayCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
           	android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            ></activity>
        
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.qianhuan.yxgsd.holagames.pay.weixinpay.WXPayCallbackActivity" />
        <!-- weixinpay sdk end -->

        <activity android:name="com.unionpay.uppay.PayActivity" />
        <activity
            android:name="com.qianhuan.yxgsd.holagames.pay.tenpay.LyCftPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <!-- end支付相关 -->
        <service
            android:name="com.qianhuan.yxgsd.holagames.gamecenter.FloatViewService"
         	android:configChanges="orientation|keyboardHidden"
            android:exported="true" >
             <intent-filter>  
                <action android:name="com.longyuan.sdk.gamecenter" />  
            </intent-filter> 
        </service>

        <activity
            android:name="com.qianhuan.yxgsd.holagames.ac.ActivityGameNoticePage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        
        <!-- 将以上配置copy到AndroidManifest -->
    </application>

</manifest>